
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shout</title>
    <style>
        h1 {
            margin-top: 0;
            background-color: black;
            color: white;
            font-style: italic;
            padding: .5em;
        }
    </style>
</head>
<body style="background-color:darkgrey;">
    <h1 class="text-center"><b>User Management System - </b>Login</h1>
    <div>
        <script>
            alert("No conbination of UserName and Password found.");
            window.location.href("host:44341/Security/Login");
        </script>
    </div>
</body>
</html>
